<div class="footer footer-custom1">
    <div class="container">
        <div class="footerme footer-custom1">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3" data-aos="zoom-out">
                    <h5 class="">palmomedia<br />a DevOps Company</h5>
                    <p><small>Wir verstehen uns als M&ouml;glichmacher im Full-Service Segment. <br />
                    Egal ob <b>legacy Software</b> oder Grünewiese, wir bauen Ihnen Ihre <b>Webapplikation</b> und helfen beim <b>Hosten</b>.</small></p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3" />
                <div class="col-md-3 mb-md-0 mb-3" data-aos="flip-up">
                    <h5 class="text-uppercase">Pflicht</h5>
                    <ul class="list-unstyled">
                    <li>
                        <a href="/impressum/">
                            Impressum und Kontakt
                        </a>
                    </li>
                    <li>
                        <a href="/datenschutzerklaerung/">
                            Datenschutzerkl&auml;rung
                        </a>
                    </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-3" data-aos="flip-up">
                    <h5 class="text-uppercase">K&uuml;r</h5>
                    <ul class="list-unstyled">
                    <li>
                        <a href="/sitemap">
                            Sitemap
                        </a>
                    </li>
                    <li>
                        <a href="/uber-palmomedia">
                            &Uuml;ber palmomedia
                        </a>
                    </li>
                    <li>
                        <a href="/blog">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="/service"  >
                            Unser Service
                        </a>
                    </li>
                    <li>
                        <a href="https://gitlab.com/palmomedia/version-reactjs" target="_blank" rel="noopener noreferrer">GitLab</a>
                    </li>
                    </ul>
                </div>
            </div>    
        </div>  
    </div>
    <div class="footer-custom2">
        <div class="footer-copyright py-3 text-center">
            <small>
                &copy; 2020 palmomedia                                
                <br />made with <img src="https://s3.us-east-2.amazonaws.com/upload-icon/uploads/icons/png/20637981701553750377-256.png" height="20" alt="angular" /> and <fa-icon [icon]="faHeartbeat"></fa-icon>&nbsp;in Berlin<br />
                <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fangular.palmomedia.de%2F" target="_blank" title="html5 conform" rel="noopener noreferrer" class="footerlink">HTML</a> &nbsp;<fa-icon [icon]="faHtml5"></fa-icon>&nbsp;-&nbsp;
                <fa-icon [icon]="faGoogle"></fa-icon>&nbsp;<a href="https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fangular.palmomedia.de" rel="noopener noreferrer" target="_blank" title="Google PageSpeed" class="footerlink">Insights</a>  
            </small>
        </div>
    </div>
    <img src="assets/palmomedia_icon_2020.png" alt="palmomedia" height="25" class="footerIcon" />
</div>