<div class="content-wrapper content">
  <div *ngIf="show; else loader">
    <h1 data-aos="fade-right">{{ post_title }}</h1>
    <br />
    <div innerHTML="{{ post_content }}"></div>
  </div>

  <ng-template #loader>
    <div style="text-align: center">
      <img
        src="https://michaelpalmer.de/images/cdn/ajax-loading-icon-28.jpeg"
        height="100"
      />
    </div>
  </ng-template>
</div>
