<nav id="nav" class="navbar navbar-expand-lg bg-light fixed-top bg-faded navbar-custom navbar navbar-expand-md navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://www.michaelpalmer.de/images/palmomedia_logo_2020_v2.png" alt="palmomedia" class="brand" />   
            <img src="https://s3.us-east-2.amazonaws.com/upload-icon/uploads/icons/png/20637981701553750377-256.png" height="50" alt="angular" />  
        </a>

        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>
        
        <ng-template #loader>
            <div>
                <img src="/assets/loading.gif">
            </div>
        </ng-template>

        <div *ngIf="show; else loader;" class="row" [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">           
            <div class="col text-left">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" *ngFor="let item of navigation; let i = index">
                        <a class="nav-link" [routerLink]="[item.url]" routerLinkActive="active" id="nav_{{i}}" href="{{item.url}}">{{item.post_title}}</a>
                    </li>
                </ul>
            </div>
            <div class="col text-right">
                <div ngbDropdown class="btn-group dropleft d-inline-block">
                <button class="btn " id="dropdownBasic2" ngbDropdownToggle><fa-icon [icon]="faGlobe"></fa-icon></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                    <a ngbDropdownItem href="https://gitlab.com/palmomedia/version-vuejs" target="_blank">GitLab/angular</a>
                    <a ngbDropdownItem href="https://michaelpalmer.de" target="_blank">michaelpalmer.de</a>
                    <a ngbDropdownItem href="/impressum">Impressum</a>
                    <a ngbDropdownItem href="/datenschutzerklaerung">Datenschutzbestimmungen</a>
                    <a ngbDropdownItem href="https://wp-api-blog.palmomedia.de/wp-admin" target="_blank">WP Admin</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</nav>
