<div class="content-wrapper content">
    
    <div *ngIf="show; else loader;" >
        <h1 data-aos="fade-right">{{ post_title }}</h1>        
        <p>
            <small>Teilen:</small>
            &nbsp;
            &nbsp;
            <a class="paddingLeft removeExternalLink" 
                rel="noopener noreferrer" 
                href="https://twitter.com/intent/tweet?text=%23jamstack %23devops %23webdev Schaut euch diesen Artikel an: &url=https://palmomedia.de/blog/{{post_name}}&"
                target="_blank">
                <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
            <a class="paddingLeft removeExternalLink" 
                rel="noopener noreferrer" 
                href="https://www.facebook.com/sharer/sharer.php?u=https://palmomedia.de/blog/{{post_name}}"
                target="_blank">
                <fa-icon [icon]="faFacebook"></fa-icon>                    
            </a>
            <a class="paddingLeft removeExternalLink" 
                rel="noopener noreferrer" 
                href="https://www.xing.com/spi/shares/new?url=https://palmomedia.de/blog/{{post_name}}"
                target="_blank">
                <fa-icon [icon]="faXing"></fa-icon>
            </a>                
            <a class="paddingLeft removeExternalLink" 
                rel="noopener noreferrer" 
                href="https://api.whatsapp.com/send?text=schau dir den Artikel '{{post_title}}' mal an: https://palmomedia.de/blog/{{post_name}}"
                target="_blank">
                <fa-icon [icon]="faWhatsapp"></fa-icon>
            </a>                
            <a class="removeExternalLink" 
                rel="noopener noreferrer" 
                href="mailto:?subject={{post_title}}&body=Hallo, schau dir mal den Artikel '{{post_title}}' an: https://palmomedia.de/blog/{{post_name}}"
                target="_blank">
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </a>                            
        </p>
        <div innerHTML="{{post_content}}"></div>

    <div class="d-flex flex-row-reverse" data-aos="fade-left">
      <div class="p2e">
        <div class="profile-header-container">
          <div class="profile-header-img">
            <img alt="nix" class="img-circle" src="{{ author_image }}" />
            <div class="rank-label-container">
              <span class="label label-default rank-label">{{
                display_name
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <a href="/blog/">
      <fa-icon [icon]="faBackward" class="marginLeftBackLink"></fa-icon>
      einmal zur&uuml;ck zu den Posts bitte...
    </a>
  </div>

  <ng-template #loader>
    <div style="text-align: center">
      <img
        src="https://michaelpalmer.de/images/cdn/ajax-loading-icon-28.jpeg"
        height="100"
      />
    </div>
  </ng-template>
</div>
