
<div id="app">
  <app-nav id="nav"></app-nav>
  <app-breadcrumb></app-breadcrumb>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  <app-footer id="footer"></app-footer> 
  
  <cookie-law class="cookieLaw">
    Wir verarbeiten Informationen über Ihren Besuch unter Einsatz von 🍪 Cookies, um die Leistung der Website zu verbessern und das Teilen von Informationen in sozialen Netzwerken zu erleichtern. Durch die weitere Nutzung unserer Seite willigen Sie in die Nutzung dieser Cookies ein. Weitere Informationen hierzu finden Sie in unserer 
    <a href="/datenschutzerklaerung" title="Datenschutzerklärung">Datenschutzerklärung</a>.  
  </cookie-law>
</div>