<nav class="breadcrumb arr-bread">
    <fa-icon [icon]="faHome"></fa-icon><span>&nbsp;&nbsp;</span>
    <a class="breadcrumb-item" href="/">Home</a>
    <a *ngFor="let item of breadcrumb; let i = index" class="breadcrumb-item" [routerLink]="[item.url]" routerLinkActive="active" id="breadcrumb_{{i}}" href="{{item.url}}">{{item.name}}</a>    
</nav>