<div class="content-wrapper">
  <div>
    <h1>Blog</h1>
    <hr />
    <div *ngIf="show; else loader">
      <div *ngFor="let item of posts; let i = index">
        <h2>
          <span class="badge badge-warning">{{ item.post_excerpt }}</span>
          &nbsp;
          <a
            href="/blog/{{ item.post_name }}"
            target="_self"
            style="text-decoration: none"
            title="{{ item.post_name }}"
            >{{ item.post_title }}</a
          >
        </h2>
        <p>
          <a
            class="paddingLeft removeExternalLink"
            rel="noopener noreferrer"
            href="https://twitter.com/intent/tweet?text=%23jamstack %23devops %23webdev Schaut euch diesen Artikel an: &url=https://palmomedia.de/blog/{{
              item.post_name
            }}&"
            target="_blank"
          >
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
          <a
            class="paddingLeft removeExternalLink"
            rel="noopener noreferrer"
            href="https://www.facebook.com/sharer/sharer.php?u=https://palmomedia.de/blog/{{
              item.post_name
            }}"
            target="_blank"
          >
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
          <a
            class="removeExternalLink"
            rel="noopener noreferrer"
            href="https://www.xing.com/spi/shares/new?url=https://palmomedia.de/blog/{{
              item.post_name
            }}"
            target="_blank"
          >
            <fa-icon [icon]="faXing"></fa-icon>
          </a>
        </p>
        <hr />
      </div>
    </div>

    <ng-template #loader>
      <div style="text-align: center">
        <img
          src="https://michaelpalmer.de/images/cdn/ajax-loading-icon-28.jpeg"
          height="100"
        />
      </div>
    </ng-template>

    <img
      src="https://www.michaelpalmer.de/images/work_2.jpg"
      height="250"
      alt="Papers"
      class="shadow p-3 mb-5 bg-white rounded floatRight"
    />
    <div class="clearRight"></div>
  </div>
</div>
